#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Gazell"

config DESKTOP_GZP_ENABLE
	bool "Enable Gazell module"
	depends on DESKTOP_ROLE_HID_PERIPHERAL
	select GAZELL
	select GZLL
	help
	  Enables Gazell module.

if DESKTOP_GZP_ENABLE

choice GAZELL_SWI
	default GAZELL_SWI1 if BT
	help
	  Update used software interrupt to avoid BLE interoperability issues.
endchoice

choice GAZELL_TIMER
	default GAZELL_TIMER2 if BT
	help
	  Update used timer to avoid BLE interoperability issues.
endchoice

config DESKTOP_GZP_MODULE_SUSPEND_EVENTS
	bool "Module suspend/resume request events support"
	depends on CAF_MODULE_SUSPEND_EVENTS
	default y

config DESKTOP_GZP_SUSPEND_ON_READY
	bool "Automatically suspend module right after initialization"
	depends on DESKTOP_GZP_MODULE_SUSPEND_EVENTS
	default y

choice GAZELL_PAIRING_ROLE
	default GAZELL_PAIRING_DEVICE if DESKTOP_ROLE_HID_PERIPHERAL
	help
	  Set proper Gazell pairing role.
endchoice

config DESKTOP_GZP_CRYPTO
	bool
	default y
	select GAZELL_PAIRING
	select GAZELL_PAIRING_CRYPT
	imply GAZELL_PAIRING_SETTINGS if SETTINGS
	select CRYPTO
	select CRYPTO_NRF_ECB
	select ENTROPY_GENERATOR
	help
	  Selects Kconfig options needed for Gazell pairing and encryption.

config DESKTOP_GZP_SUBSCRIBER_PRIORITY
	int "Gazell HID reports subscriber priority"
	default 1
	range 1 255
	help
	  The lower value means the lower priority in subscribtion to HID
	  reports. By default, Gazell uses the lowest possible priority.

config DESKTOP_GZP_LEGACY_HID_REPORT_MAP
	bool "Translate HID reports to nRFready Desktop 2 HID report map"
	imply GAZELL_PAIRING_USER_CONFIG_ENABLE
	default y
	help
	  Translate HID reports from the default report map used by nRF Desktop
	  to legacy HID report map that was used by nRFReady Desktop 2 reference
	  design. This option must be enabled for compatibility with nRFready
	  Desktop 2 Reference Design dongle.

if DESKTOP_GZP_LEGACY_HID_REPORT_MAP

config GAZELL_PAIRING_USER_CONFIG_FILE
	default "gzp_config_legacy_dongle.h"
	help
	  The file aligns Gazell configuration (pairing address and secret key)
	  with nRFReady Desktop 2 reference design. This file must be used for
	  compatibility with nRFready Desktop 2 Reference Design dongle.

endif # DESKTOP_GZP_LEGACY_HID_REPORT_MAP

config DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK
	bool "Enable Gazell pairing data erase on long button click"
	help
	  The pairing data erase is triggered by a long button press. Gazell
	  pairing data is instantly removed.

if DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK

config DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK_KEY_ID
	hex "Key ID of button used to trigger pairing data erase"
	range 0x0000 0xffff
	default 0xffff

config DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK_ON_BOOT_ONLY
	bool "Allow pairing data erase using button only right after boot"
	help
	  If the option is enabled, the pairing data erase on long button press
	  can only be triggered right after boot.

endif # DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK

if !DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK

config DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK_KEY_ID
	hex
	range 0x0000 0xffff
	default 0xffff

endif # !DESKTOP_GZP_PAIRING_DATA_ERASE_CLICK

module = DESKTOP_GZP
module-str = Gazell
source "subsys/logging/Kconfig.template.log_config"

endif # DESKTOP_GZP_ENABLE

endmenu
